.navigation {
  padding: 20px calc(50% - 250px) 19px calc(50% - 239px);
}

.navigation-list {
  @include reset;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.navigation-item {
  &:not(:last-child) {
    margin-right: 34.2px;
  }
}

.navigation-link {
  display: inline-block;
  color: $black;
  font-weight: 24px;
  white-space: nowrap;
  border-bottom: 1px solid transparent;

  &:hover {
    color: $brown;
    border-bottom: 1px solid $brown;
  }

  &:focus {
    color: $brown;
    border-bottom: 1px solid $brown;
  }

  &:active {
    transform: scale(0.9);
    transition: 0.2s;
  }
}

.navigation-list--info {
  display: none;
}

@media (max-width: $tablet-width) {
  .navigation {
    padding: 0 calc(50% - 339px);
  }

  .navigation-item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .navigation-list {
    display: none;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: 0;
    }

    &--info {
      .navigation-item {
        margin-bottom: 18px;

        .navigation-link {
          font-size: 18px;
          line-height: 130%;
          color: $white-opacity-new;

          &--login {
            color: $white;
            margin-top: 26px;
          }
        }
      }
    }
  }

  .navigation-link {
    font-size: 24px;
    line-height: 154%;
    color: $white;

    &:hover {
      color: $white;
      border-bottom: 1px solid $white;
    }

    &:focus {
      color: $white;
    }

    &:active {
      color: $white;
    }
  }

  .header-open-menu .navigation-list,
  .header-nojs .navigation-list {
    display: block;
    padding: 46px 0 0 0;

    &--info {
      display: block;
      padding: 36px 0 0 0;
    }
  }
}

@media (max-width: $mobile-width) {
  .navigation {
    padding: 0 15px;
  }

  .navigation-list {
    &--info {
      .navigation-item {
        .navigation-link {
          &--login {
            color: $white;
            margin-top: 18px;
          }
        }
      }
    }
  }

  .header-open-menu .navigation-list,
  .header-nojs .navigation-list {
    display: block;
    padding: 36px 0 0 0;

    &--info {
      display: block;
      padding: 27px 0 0 0;
    }
  }
}
