

.slider {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position:relative;
overflow:hidden;
max-width:1170px;
min-width: 0;
}

.slider .slider-button{
  position:absolute;
  top:44px;
  z-index: 10;
  border:0;
  background-color: transparent;
  font-size: 0;
  width:29px;
  height: 9px;
}
.slider .swiper-button-prev{
  left:0px;
background:url("../../img/icons/left-arrow.svg")no-repeat center;
background-size: cover;
}


.slider .swiper-button-next{
  right:0px;
  background:url("../../img/icons/right-arrow.svg")no-repeat center;
background-size: cover;
}


.slider h2 {
  @include reset-block;
  font-family: $garamond;
  text-transform: capitalize;
  font-size: 34px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 23px;

}

.slider-link {
  display: block;
  color:$black;
  text-transform: capitalize;
text-decoration: underline;
text-underline-position: under;
text-decoration-color:$brown;
margin-bottom: 58px;

&:hover{
  color:$brown;

}
&:focus{
  color:$brown;

}
&:active{
  color:$brown;
  transform: scale(0.9);

}
}

.slider-list {
  @include reset;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 53px;
}

.slider-item__link{
  display: block;
  width:270px;
}

.slider-item__link img{
  margin-bottom: 24px;
  width:100%;
  object-fit: cover;
}

.slider-item__link h3 {
  @include reset-block;
color:$black;
font-family: "Poppins", "Arial", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 20.8px;
margin-bottom: 5px;
}

.slider-item__link p{
@include reset-block;
  color: $black;
  font-size: 14px;
font-weight: 700;
line-height: 18.2px;
}

.slider .swiper-pagination{
margin-left: 10px;
}
.slider .swiper-pagination-bullet {
 color:$grey;
 font-family: inherit;
 font-size: inherit;
 font-weight: inherit;
 background: transparent;
 margin-right: 13px;
}
.slider .swiper-pagination-bullet-active{
  color:$black;
}


// @media (max-width: $tablet-width){
//   .slider{


//   }
//   .slider h2 {
//     margin-bottom: 17px;

//   }


//  .slider-item__link{
//    width:324px;
//  }
//  .slider-item__link img{
//    margin-bottom: 19px;


//  }
//  .slider-list {
//    padding-bottom: 42px;
//  }

// }
// @media (max-width: $mobile-width) {
//   .slider{

//     margin-bottom: 53px;
//   }
//   .slider h2{
//     margin-bottom: 19px;
//   }

//   .slider-link{
//     margin-bottom: 45px;
//   }


//   .slider-item__link{
//     width:130px;
//   }

//   .slider-item__link img{

//   }
//   .slider-item__link h3{
//     text-align:center;
//   margin-bottom: 4px;
//   }
//   .slider-list{
//     padding-bottom:33px;
//   }
// }
