.filter {
  margin-right: 20px;

  &--page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 calc(50% - 234px);
    margin: 0;

    .filter-fieldset h3 {
      &::after {
        display: none;
      }
    }
  }
}

.filter form {
  display: flex;
  flex-direction: column;
  width: 254px;
}

.filter--page form {
  width: 100%;
}

.filter-fieldset-content {
  display: none;
}

.filter-fieldset {
  display: flex;
  flex-direction: column;
  border: 1px solid $brown;
  border-bottom: none;
  position: relative;
  padding: 23px 0 25px 23px;

  &:last-of-type {
    border-bottom: 1px solid $brown;
    margin-bottom: 35px;
  }

  &--active {
    .filter-fieldset-content {
      display: block;
    }
  }

  &--collection {
    padding: 23px 0 20px 23px;
  }

  &:focus-within {
    .filter-fieldset-content {
      display: block;
    }
  }
}

.filter-fieldset h3 {
  @include reset-block;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: 21px;
  position: relative;
  cursor: pointer;

  &::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 8px;
    background: url("../img/icons/arrow-down.svg") no-repeat center;
    background-size: cover;
    top: 5px;
    right: 24px;
  }
}

.filter-fieldset--active h3 {
  &::after {
    background: url("../img/icons/arrow-up.svg") no-repeat center;
    background-size: cover;
  }
}

.filter-fieldset__list {
  @include reset;
  padding-top: 23px;
}

.filter-fieldset__item {
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.filter-fieldset__item label {
  display: block;
  font-size: 14px;
  line-height: 18px;
  padding-left: 35px;
  position: relative;
}

.filter-fieldset__item input + label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 10px;
  width: 15px;
  height: 15px;

  background-color: transparent;
  border: 1px solid $brown;
  cursor: pointer;
}

.filter-fieldset__item input:checked + label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 10px;
  width: 15px;
  height: 15px;
  cursor: pointer;

  background: $brown;
  background-size: cover;
}

.filter-fieldset__item input:hover + label::before {
  box-shadow: 0 0 2px 1px $brown;
}

.filter-fieldset__item input:hover + label {
  color: $brown;
  transition: 0.2s;
}

.filter-fieldset__item input:focus + label::before {
  box-shadow: 0 0 2px 1px $brown;
}

.filter-fieldset__item input:focus + label {
  color: $brown;
  transition: 0.2s;
}

.filter-fieldset__range {
  @include reset-block;
  background: none;
  width: 218px;
}

.filter-fieldset__controls {
  position: relative;
  height: 35px;
  border-radius: 20px;
  padding: 27px 0 25px 21px;
  box-sizing: border-box;
}

.filter-fieldset__scale {
  width: 176px;
  height: 2px;
  background: $grey-light;
  z-index: 10;
}

.filter-fieldset__bar {
  width: 106px;
  height: 2px;
  background: $brown;
  margin-left: 24px;
}

.filter-fieldset__toggle {
  white-space: nowrap;
  position: absolute;
  top: 17px;
  width: 15px;
  height: 15px;
  padding: 0;

  background: $brown;
  border-radius: 50%;
  cursor: pointer;

  p {
    font-size: 14px;
    line-height: 18px;
    font-weight: inherit;
    padding-top: 8px;
    margin-left: -9px;
  }
}

.filter-fieldset__toggle--min {
  left: 45px;
}

.filter-fieldset__toggle--max {
  left: 150px;
}

.filter-button {
  padding: 23px 0;
  margin-bottom: 25px;
  margin-right: 2px;
  border: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: inherit;

  &--reset {
    background: transparent;
    border: 1px solid $brown;
  }

  &:hover {
    transform: scale(1.03);
    transition: 0.3s;
  }

  &:focus {
    transform: scale(1.03);
    transition: 0.3s;
  }

  &:active {
    transform: scale(0.9);
    transition: 0.3s;
  }
}

.filter-close {
  display: none;
  border: none;
  background: transparent;

  svg {
    color: inherit;
  }

  &:hover {
    svg {
      color: $brown;
    }
    transform: scale(1.2);
    transition: 0.3s;
  }

  &:focus {
    svg {
      color: $brown;
    }
    transform: scale(1.2);
    transition: 0.3s;
  }

  &:active {
    transform: scale(0.7);
    transition: 0.3s;
  }
}

.filter-open {
  display: none;
  width: 100%;
  padding: 28px 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

// filter--nojs  - неактивный фильтр
.filter--nojs .filter-fieldset-content {
  display: block;
}

.filter--nojs .filter-fieldset h3 {
  &::after {
    display: none;
  }
}

@media (max-width: $tablet-width) {
  .filter-wrapper {
    display: none;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    left: 0;
    top: 27px;
    height: 100vh;
    width: 55.6%;
    box-shadow: 3px -3px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
    transition: all 0.5s;
    transform: translateX(-110%);
    background: $white;
  }

  .filter-open {
    display: block;
    padding: 24px 0;
    margin-bottom: 50px;
    width: 100%;
  }

  .filter {
    margin-right: 0;

    &--page {
      form {
        display: flex;
        border: 1px solid $brown;
        padding: 0 0 20px 0;
      }

      .filter-close {
        display: none;
      }

      .filter-button {
        margin: 0 20px;
      }
    }

    &--active {
      .filter-wrapper {
        display: flex;
        transition: all ease 0.5s;
        transform: translateX(0%);
      }
    }

    .filter-wrapper form {
      width: 100%;
      height: 100%;
      overflow-y: scroll;

      padding-bottom: 50px;
    }
  }

  .filter-fieldset {
    border: none;
    border-bottom: 1px solid $brown;
    padding: 35px 0 35px 15px;

    &:first-of-type {
      padding: 42px 0 37px 15px;
    }
  }

  .filter-fieldset__item input + label::before {
    top: 0;
    left: 10px;
    width: 16px;
    height: 16px;
  }

  .filter-fieldset__item input:checked + label::after {
    top: 0;
    left: 10px;
    width: 16px;
    height: 16px;
  }

  .filter-fieldset__item label {
    font-size: 16px;
    padding-left: 39px;
  }

  .filter-fieldset__list {
    padding: 27px 0 0 0;
  }

  .filter-fieldset__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .filter-close {
    display: block;
    position: absolute;
    top: -10px;
    right: -20px;
  }

  .filter-fieldset h3 {
    font-size: 18px;

    &::after {
      width: 23px;
      height: 12px;
      right: 39px;
    }
  }

  .filter-fieldset__controls {
    padding: 35px 16px 35px 13px;
  }

  .filter-fieldset__scale {
    width: 304px;
  }

  .filter-fieldset__bar {
    width: 171px;
    margin-left: 50px;
  }

  .filter-fieldset__toggle {
    width: 20px;
    height: 20px;
    top: 26px;
  }

  .filter-fieldset__toggle--max {
    left: 229px;
  }

  .filter-fieldset__toggle--min {
    left: 53px;
  }

  .filter-button {
    margin: 0 42px 0 16px;

    &:not(:last-child) {
      margin-bottom: 26px;
    }
  }
}

@media (max-width: $mobile-width) {
  .filter-wrapper {
    left: 0;
    top: 0;
    padding: 76px 25px 50px 25px;
    box-shadow: none;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    overflow-y: scroll;
  }

  .filter-wrapper form {
    width: 270px;
    box-shadow: 1px -1px 10px rgba(0, 0, 0, 0.2);
    padding-bottom: 30px;
  }

  .filter-close {
    right: 3.2%;
    top: 7.5%;
  }

  .filter-open {
    margin-bottom: 39px;
  }

  .filter-fieldset {
    &:first-of-type {
      padding: 24px 0 28px 15px;
    }

    &:last-of-type {
      margin-bottom: 30px;
    }

    padding: 25px 0 26px 15px;
  }

  .filter-fieldset h3 {
    &::after {
      right: 20px;
    }
  }

  .filter-fieldset__controls {
    padding: 32px 16px 35px 13px;
  }

  .filter-fieldset__scale {
    width: 230px;
  }

  .filter-fieldset__bar {
    width: 120px;
    margin-left: 35px;
  }

  .filter-fieldset__toggle {
    width: 18px;
    height: 18px;
  }

  .filter-fieldset__toggle--max {
    left: 167px;
  }

  .filter-fieldset__toggle--min {
    left: 29px;
  }

  .filter-button {
    margin-right: 21px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
